<!-- Layout --> 
{% extends 'layouts/base.html' %}

<!-- Tags --> 
{% load custom_tags %}

<!-- Custom Title --> 
{% block title %}{{ PageDesign.Title }}{% endblock title %}

<!-- Custom Content --> 
{% block content %}
<div class="container py-4">

    <!-- Page Headings -->
    <div class="row">
        <div class="col-12">
            <h3 class="mt-5 text-center">{{ PageDesign.Heading|_Format:Context }}</h3>
            <h5 class="text-secondary text-center">
                Click here to <a href="/ViewOrders" class="text-primary">View Orders</a>
            </h5>
            <h5 class="text-secondary text-center">
                <a href="/EditOrder?pk={{Order.pk}}" class="text-primary">Edit</a>,
                <a href="/ProcessOrder?pk={{Order.pk}}" class="text-primary">Process</a>,
                <a href="/CheckInOrder?pk={{Order.pk}}" class="text-primary">Check-In</a> an Order
            </h5>
            <h5 class="text-secondary text-center">
                or <a href="#" onclick="Ajx_ProcessManifest();return false;" class="text-primary">Add Manifest Items</a>
            </h5>
        </div>
    </div>

    <!-- Form Card -->
    <div class="card m-4">
        <!-- Card Heading and Add Button -->
        <div class="card-header">
            <div class="row">
        
                <!-- Heading -->
                <div class="col-6">
                    <h5 class="m-2">Item Form</h5>
                    <p class="m-2">Add items here or edit by clicking the table below</p>
                </div>
        
                <!-- Add Button -->
                <div class="col-6">
                    <div class="button-row m-2" style="text-align: right;">
                        <button class="btn p-2 m-0" type="button" onclick="Ajx_SaveNewForm('');return false;">
                            <span class="btn-inner--icon"><i class="far fa-square-plus text-success"></i></span>
                            <span class="btn-inner--text mx-1">Add Item</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card Body Form --> 
        <div class="row"><div class="col-12">
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- Form Content -->
                    <div id="form-content">Loading form data</div>
                    
                    
                    <!-- Form Buttons -->
                    <div class="button-row mt-4" style="text-align: right;">
                        <!-- Submit Button -->
                        <button class="btn px-2 mx-2" type="button" onclick="Ajx_SaveNewForm('pk');return false;">
                            <span class="btn-inner--icon"><i class = "fa fa-pen text-info" ></i></span>                        
                            <span class="btn-inner--text mx-1">Update Item</span>
                        </button>                    
                    </div>
                </form>
            </div>
        </div></div>
    </div>
    
    <!-- Table Card--> 

    <div class="card m-4">

        <!-- Card Heading and Add Button -->
        <div class="card-header">
            <div class="row">
                <!-- Heading -->
                <div class="col-6">
                    <h5 class="m-2">Items from order: {{ Order.order_number}}</h5>
                </div>                
                <!-- Buttons -->
                <div class="col-6">
                    <div class="button-row m-2" style="text-align: right;">
                        <button class="btn p-2 m-0" type="button" onclick="Ajx_AggFunc('DELETE_ALL');return false;">
                            <span class="btn-inner--text mx-1">Delete All</span>
                        </button>
                        <button class="btn p-2 m-0" type="button" onclick="Ajx_AggFunc('FILL_DELIVERED');return false;">
                            <span class="btn-inner--text mx-1">Fill Delivered</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div id="table-content">Loading table data</div>
            <input type="hidden" name="order_pk" value="{{ Order.pk }}">
            <input type="hidden" name="employee_pk" value="{{ Employee.pk }}">
            <input type="hidden" name="item_pk" value="">
            <input type="hidden" name="today" value="{{ Today }}">
        </div>
    </div>
</div>
{% endblock content %}

<!-- Custom JavaScript -->
{% block javascripts %}
<script src="/static/assets/js/plugins/datatables.js"></script>

{% csrf_token %}
<script type="text/javascript">

function Ajx_SaveNewForm(pk) {
    console.log(pk);
    $.ajax({
        type: 'POST',
        url: '/save_form_data',
        data: {
            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
            'FormName': 'ProcessOrderForm',
            'Instance': pk,
            'RedirectValid': window.location.href,
            'RedirectInvalid': window.location.href,

            'department': document.forms[0].department.value,
            'item_class': document.forms[0].item_class.value,
            'category': document.forms[0].category.value,
            'subcategory': document.forms[0].subcategory.value,
            'brand': document.forms[0].brand.value,
            'model': document.forms[0].model.value,
            'description': document.forms[0].description.value,
            'condition': document.forms[0].condition.value,
            'status': document.forms[0].status.value,
            'units': document.forms[0].units.value,
            'unit_retail': document.forms[0].unit_retail.value,

            'order_id': $("input[name=order_pk]").val(),
            'employee_id': $("input[name=employee_pk]").val(),
            'status_date': $("input[name=today]").val(),
            'pk': $("input[name=item_pk]").val(),
        },
        success: function (data) {
            console.log(data['response']);
            Ajx_GetForm("");
            Ajx_GetTable("");
        }
    });
};

function Ajx_GetForm(item_id) {
    console.log(item_id);
    $.ajax({
        type: 'POST',
        url: '/AjxFormData',
        data: {            
            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
            'pk': item_id,
            'FormName': 'ProcessOrderForm'
        },
        success: function (data) {                    
            var form_content = $('div#form-content')[0];
            form_content.innerHTML = data['form_data'];
            var item_pk = $('input[name=item_pk]')[0];
            item_pk.value = item_id;
        }
    });
};

function Ajx_AggFunc(s) {
    $.ajax({
        type: 'POST',
        url: '/AjxProcOrderAgg',
        data: {            
            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
            'Command': s,
            'order_id': $("input[name=order_pk]").val(),
        },
        success: function (data) {
            console.log(data['result']);
            location.reload();
        }
    });
};

function Ajx_GetTable(str) {
    console.log(str);
    $.ajax({
        type: 'POST',
        url: '/AjxTableData',
        data: {            
            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
            'pk': $("input[name=order_pk]").val(),
            'TableName': 'CheckInOrderTable'
        },
        success: function (data) {                    
            var table_content = $('div#table-content')[0];
            table_content.innerHTML = data['table_data'];
            const dataTableBasic = new simpleDatatables.DataTable("#datatable-basic", {searchable: true,fixedHeight: true});
        }
    });
};

function Ajx_DeleteItem(item_pk) {
    console.log(item_pk);
    $.ajax({
        type: 'POST',
        url: '/Delete',
        data: {            
            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
            'del_str': 'Item:' + item_pk,            
        },
        success: function (data) {
            Ajx_GetForm("");
            Ajx_GetTable("");
        }
    });
};
function Ajx_ProcessManifest() {
    $.ajax({
        type: 'POST',
        url: '/ProcessManifest',
        data: {            
            'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
            'order_id': $("input[name=order_pk]").val(),            
            'employee_id': $("input[name=employee_pk]").val(),
            'status_date': $("input[name=today]").val(),            
        },
        success: function (data) {
            location.reload();
        }
    });
};

Ajx_GetForm("");
Ajx_GetTable("");
</script>

{% endblock javascripts %}