<!-- Layout --> 
{% extends 'layouts/base.html' %}

<!-- Tags --> 
{% load custom_tags %}

<!-- Custom Title --> 
{% block title %}{{ PageDesign.Title }}{% endblock title %}

<!-- Custom Content --> 
{% block content %}
<div class="container py-4">

    <!-- Page Headings --> 
    {% if PageDesign.Heading %}
    <div class="row">
    <div class="col-12">
        <h3 class="mt-5 text-center">{{ PageDesign.Heading|_Format:Context }}</h3>
        {% if PageDesign.SubHeading %}<h5 class="text-secondary text-center">{{ PageDesign.SubHeading|_Format:Context }}</h5> {% endif %}
    </div>
    </div>
    {% endif %}

    <!-- Page Elements --> 
    <div class="card card-body">
    <div class="row">
    <div class="col-12">

        <!-- Form --> 
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="form-content">Loading form data</div>
            <!-- Form Content -->

            <!-- hidden variables -->
            
            <!-- Form Buttons -->
            <div class="button-row mt-4">
                <!-- Submit Button -->
                <button class="btn px-2 mx-2" type="submit">
                    <span class="btn-inner--text mx-1">Update Selected Item</span>            
                </button>

                <!-- Add Items -->
                <button class="btn px-2 mx-2" type="button" onclick="Ajx_GetForm('Deleted');return false;">
                    <span class="btn-inner--text mx-1">Add New Item</span>
                </button>
            </div>
        </form>    
    </div>
    </div>
    </div>
</div>
{% endblock content %}

<!-- Custom JavaScript -->
{% block javascripts %}
    {% csrf_token %}
    <script type="text/javascript">

    function Ajx_GetForm(str) {
        console.log(str)
        $.ajax({
            type: 'POST',
            url: '/get_store_input',
            data: {            
                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
            },
            success: function (data) {                    
                var form_content = $('div#form-content')[0]
                form_content.innerHTML = data['store_input']
            }
        });
    }

    Ajx_GetForm("Init")

    </script>
{% endblock javascripts %}




