<!-- Layout --> 
{% extends 'layouts/base2.html' %}

<!-- Custom Title --> 
{% block title %}Dashboard{% endblock title %}

<!-- Custom Content --> 
{% block content %}
<div class="container py-4">

    <!-- Form Card -->
    <div class="card m-4">
        <!-- Card Heading and Add Button -->
        <div class="card-header">
            <div class="row">        
                <!-- Heading -->
                <div class="col-6">
                    <h5 class="m-2">Dashboard</h5>
                </div>        
            </div>
        </div>

        <!-- Card Body Form --> 
        <div class="card-body">                
            <!-- Form Content -->
            <div id="form-content">{{ form_html }}</div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Custom JavaScript -->
{% block javascripts %}


{% endblock javascripts %}